
:root {
    --cor_principal: #009900;
    --cor_segundaria: rgb(0, 70, 0);
    --cor_terciaria: rgb(255, 255, 255);
}


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
}



a {
    text-decoration: none;
}



/*Logo Sec*/

.logo img {
    padding: 15px;
    filter: drop-shadow(0px 0px 11px rgb(6, 146, 6));
    display: inline;
}



header {
    background-color: #116600;
    display: flex;
    justify-content: space-between;
   align-items: center;
}

nav {
    background-color: rgb(49, 196, 30);
    display: flex;
    justify-content: end;
   
}


nav ul {
    
    color: white;
    display: flex;
}

nav ul li {
    font-weight: bold;
   margin: 0;
    padding: 10px;
    margin-right: 20px;
}


nav ul li:hover {
    transition: transform 0.6s ease-out, background-color 0.6s ease-out, color 0.6s ease-out;
    color: white;
    transform: translateY(-10%);
    border-radius: 10px;
    font-weight: bolder;
    background-color: #014206;
}



/* Search Bar Header*/

.search-bar {
    border-radius: 10px;
    margin: 15px;
    background-color: rgb(255, 255, 255);
}


#input-search {
    margin: 3px;
    padding: 10px;
    border: none;
}

.search-bar i{
    color: rgb(1, 78, 1);
    padding: 10px;
   
}

#input-search:focus {
    outline: none;
}

/* Botão Header */

.buttons {
    margin: 15px;
    
    
}

.buttons i{
    color: rgb(1, 78, 1);
 
   
}
#botao-header {
   border: none;
   background-color: rgb(255, 255, 255);
    padding: 13px;
    border-radius: 10px;
}

#botao-header:hover {
    cursor: pointer;
    background-color: rgb(206, 206, 206);
}

footer {
    display: flex;
    color: black;
    height: 200px;
    
    background-color: var(--cor_segundaria);
}


.footer_sec {
    list-style: none;
    align-content: center;
    margin: 0px 80px 0px;
}

ul li {
    margin: 3px;
    list-style: none;
}

