<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/ecopontos.css">
  
    <link rel="shortcut icon" href="/img/reci2.png" type="image/x-icon">
    <title>Ecopontos - Recicla Mais</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
</head>

<header>
    <div class="logo">
       <a href="/"> <img src="/img/reciclaicon.png" alt="Logo ReciclaMais" width="200px"></a>
        
    </div>
    <div class="search-bar">
        <input type="text" name="inSearch" placeholder="Procure algo aqui...." id="input-search"> <i class="fa-solid fa-magnifying-glass"></i>
    </div>
   
    <div class="buttons">
        <button id="botao-header"><i class="fa-solid fa-trash"></i> ONDE DESCARTAR?</button>
    </div>
</header>
<nav>
    <ul>
        <a href="/#sec3"><li>Recicle Aqui</li></a>
        <a href="/#sec2"><li>Conheça nosso Projeto</li></a>
         <a href="/minigame"><li>Mini Game</li></a>
         <a href="#"><li>Instituição de Ensino</li></a>
    </ul>
</nav>


<body class="body">
    <br>
    <h1>ECOPONTOS DE SALTO-SP</h1>
    <a href="/oquelevar"><p style="color: rgb(0, 102, 39); cursor: pointer;">O que levar? (Clique Aqui)</p></a>
    <div class="container_painel">
    <div class="menu">
        <ul>
            <a href="/ecoponto1"><li>Ecoponto 1 - Jardim das Nações - Rua Argelia N°361 </li></a> <!--https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58676.226474911426!2d-47.32621960506269!3d-23.197042025304153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf4fa25d997637%3A0xad5049a3734101d3!2sEcoponto%2001%20-%20Jardim%20das%20Na%C3%A7%C3%B5es!5e0!3m2!1spt-BR!2sbr!4v1615893295307!5m2!1spt-BR!2sbr-->
           <a href="/ecoponto2"> <li>Ecoponto 2 - Jardim Santa Cruz - Rua Rangel Pestana N°529 </li></a> <!--https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14665.878347301274!2d-47.2640686!3d-23.2259931!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfc1a0064d9dabd13!2sEcoponto%2002%20-%20Jardim%20Santa%20Cruz!5e0!3m2!1spt-BR!2sbr!4v1608820768509!5m2!1spt-BR!2sbr-->
           <a href="/ecoponto3"> <li>Ecoponto 3 - Jardim São João - Rua Vaticano N°650 </li></a> <!--https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14671.472264846765!2d-47.3183315!3d-23.1750149!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6916f668f91024b0!2sEcoponto%2003%20-%20Jardim%20S%C3%A3o%20Jo%C3%A3o!5e0!3m2!1spt-BR!2sbr!4v1608820899988!5m2!1spt-BR!2sbr-->
           <a href="/ecoponto4"> <li>Ecoponto 4 - Jardim Cidade - Rua Botucatu N°409 </li></a> <!--https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14667.574465210273!2d-47.2721538!3d-23.2105473!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x66f882a43019f8af!2sEcoponto%2004%20-%20Jardim%20Cidade!5e0!3m2!1spt-BR!2sbr!4v1608821004383!5m2!1spt-BR!2sbr-->
           <a href="/ecoponto5"> <li>Ecoponto 5 - São Pedro e São Paulo - Rua Estado do Rio Grande do Sul 1 N°303 </li></a> <!--https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14668.537109590088!2d-47.310275!3d-23.2017766!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3173c8906fbf1e68!2sEcoponto%20S%C3%A3o%20Pedro%20e%20S%C3%A3o%20Paulo!5e0!3m2!1spt-BR!2sbr!4v1608823803912!5m2!1spt-BR!2sbr-->
           <a href="/ecoponto6"> <li>Ecoponto 6 - Jardim São Gabriel Ecoponto Escola - Rua São Raimundo N°85 </li></a> <!--https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14670.904385401167!2d-47.3027476!3d-23.1801949!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c0c210ebe9b290b!2sEcoponto%2006%20Escola%20-%20Jardim%20S%C3%A3o%20Gabriel!5e0!3m2!1spt-BR!2sbr!4v1608823919347!5m2!1spt-BR!2sbr-->
           <a href="/ecoponto7"> <li>Ecoponto 7 - Parque Residencial Rondon - Rua Domingos Jose da Cruz - N°130</li></a> <!-- https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14666.779929044922!2d-47.2781171!3d-23.217784!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd0786e2e9702e012!2sEcoponto%2007%20-%20Parque%20Residencial%20Rondon!5e0!3m2!1spt-BR!2sbr!4v1608820597180!5m2!1spt-BR!2sbr -->
           <a href="/ecoponto8"> <li>Ecoponto 8 - Salto Ville - Rua Padre Carlos Correa Toledo Melo - N°340 </li></a> <!-- https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14666.633835498033!2d-47.2676015!3d-23.2191144!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfcda71a323d7354a!2sEcoponto%2008%20-%20Salto%20Ville!5e0!3m2!1spt-BR!2sbr!4v1608823988402!5m2!1spt-BR!2sbr -->
           <a href="/ecoponto9"> <li>Ecoponto 9 - Rua Mal Eurico Gaspar Dutra N°100 </li></a> <!-- https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.217462586355!2d-47.285197985552756!3d-23.19874425418485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf4fcb8ff323e1%3A0x67f9a3bb00ff99e!2sEcoponto%209%20-%20CEA!5e0!3m2!1spt-BR!2sbr!4v1608824706367!5m2!1spt-BR!2sbr -->
           <a href="/ecoponto10"> <li>Ecoponto 10 - Jardim Santo Antonio - Rua Carlos Gomes - N°492 </li></a> <!--  https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.493813605669!2d-47.28900898555302!3d-23.188667753818375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf4dc85e2ea2cd%3A0x4057365ace150921!2sEcoponto%2010%20-%20Jardin%20Santo%20Ant%C3%B4nio!5e0!3m2!1spt-BR!2sbr!4v1608824650036!5m2!1spt-BR!2sbr -->
           <a href="/ecoponto11"> <li>Ecoponto 11 - Quintal Jardim Planalto - Rua das Nações Unidas - N°1501</li></a> <!-- https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14670.767287036833!2d-47.2697833!3d-23.1814453!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa690c5ce45bdc830!2sEcoponto%2011%20-%20Quintal!5e0!3m2!1spt-BR!2sbr!4v1611360475187!5m2!1spt-BR!2sbr -->
           
        </ul>
    </div>
    <div class="mapa">
        <iframe src="<%=linkmapa%>" 
        width="800" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>

</body>



<footer>
    <div id="footer_nav1" class="footer_sec">
       <ul>
          <li> <i class="fa-brands fa-youtube" ></i> YouTube</li>
           <li> <i class="fa-brands fa-instagram"></i> Instagram</li>
           <li> <i class="fa-brands fa-linkedin"></i> Linkedin</li>
       </ul>
    </div>
    <div id="footer_nav2"  class="footer_sec">
        <h3>Saiba Mais</h3>
        <ul>
            <li>Caso 1</li>
            <li>Caso 2</li>
            <li>Caso 3</li>
            <li>Caso 4</li>
            <li>Caso 5</li>
        </ul>
    </div>
    <div id="footer_nav3"  class="footer_sec">
        <h3>Programas de Reciclagem Gratuitos</h3>
        <ul>
            <li>Caso 1</li>
            <li>Caso 2</li>
            <li>Caso 3</li>
            <li>Caso 4</li>
            <li>Caso 5</li>
        </ul>
        
    </div>
    <div id="footer_nav4"  class="footer_sec">
        <h3>Alunos</h3>
        <ul>
            <li>Bryan Rodrigues de Andrade</li>
            <li>Ana Globleckner</li>
            <li>Francisco Guilherme</li>
            <li>Kauã Henrique</li>
            <li>Matheus Sant'ana</li>
            <li>Beatriz Lami</li>
        </ul>
        
    </div>
</footer>

</html>


<!--
  <div id="container">
        <nav id="menu">
            <ul>
                <li data-mapa="ecoponto-1-jardim-das-nacoes-rua-argelia-361">Ecoponto 01 - Jardim das Nações</li>
                <li data-mapa="ecoponto-2-jardim-santa-cruz-rua-rangel-pestana-529">Ecoponto 02 - Jardim Santa Cruz</li>
                <li data-mapa="ecoponto-3-jardim-sao-joao-rua-vaticano-650">Ecoponto 03 - Jardim São João</li>
                <li data-mapa="ecoponto-4-jardim-cidade-rua-botucatu-409">Ecoponto 04 - Jardim Cidade</li>
                <li data-mapa="ecoponto-5-sao-pedro-e-sao-paulo-rua-estado-do-rio-grande-do-sul-1-303">Ecoponto 05 - São Pedro e São Paulo</li>
               
            </ul>
        </nav>
        <div id="mapa">
            <div id="container-mapas">
                <div data-mapa="ecoponto-1-jardim-das-nacoes-rua-argelia-361" class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58676.226474911426!2d-47.32621960506269!3d-23.197042025304153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf4fa25d997637%3A0xad5049a3734101d3!2sEcoponto%2001%20-%20Jardim%20das%20Na%C3%A7%C3%B5es!5e0!3m2!1spt-BR!2sbr!4v1615893295307!5m2!1spt-BR!2sbr" 
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div data-mapa="ecoponto-2-jardim-santa-cruz-rua-rangel-pestana-529" class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14665.878347301274!2d-47.2640686!3d-23.2259931!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfc1a0064d9dabd13!2sEcoponto%2002%20-%20Jardim%20Santa%20Cruz!5e0!3m2!1spt-BR!2sbr!4v1608820768509!5m2!1spt-BR!2sbr" 
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div data-mapa="ecoponto-3-jardim-sao-joao-rua-vaticano-650" class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14671.472264846765!2d-47.3183315!3d-23.1750149!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6916f668f91024b0!2sEcoponto%2003%20-%20Jardim%20S%C3%A3o%20Jo%C3%A3o!5e0!3m2!1spt-BR!2sbr!4v1608820899988!5m2!1spt-BR!2sbr" 
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div data-mapa="ecoponto-4-jardim-cidade-rua-botucatu-409" class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14667.574465210273!2d-47.2721538!3d-23.2105473!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x66f882a43019f8af!2sEcoponto%2004%20-%20Jardim%20Cidade!5e0!3m2!1spt-BR!2sbr!4v1608821004383!5m2!1spt-BR!2sbr" 
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div data-mapa="ecoponto-5-sao-pedro-e-sao-paulo-rua-estado-do-rio-grande-do-sul-1-303" class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14668.537109590088!2d-47.310275!3d-23.2017766!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3173c8906fbf1e68!2sEcoponto%20S%C3%A3o%20Pedro%20e%20S%C3%A3o%20Paulo!5e0!3m2!1spt-BR!2sbr!4v1608823803912!5m2!1spt-BR!2sbr" 
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                
            </div>
        </div>
    </div>
  
-->